node_modules
.next
.vercel
storage
server.log
npm-debug.log*
.git
.gitignore
.github
.gitlab
.gitlab-ci.yml
.env
.env.local
.env.*.local
.env.production
.env.prod
.env.docker
*.pem
*.key
*.crt
*.csr
*.p12
*.pfx
id_rsa
id_rsa.pub
secrets
secrets.*
docker-compose.override.yml
Dockerfile
docker-compose.yml
