NODE_ENV=production

# Replace IP with your EC2 Elastic IP. Example:
# APP_URL=https://16-16-219-115.sslip.io
APP_URL=https://YOUR-ELASTIC-IP-WITH-DASHES.sslip.io

POSTGRES_DB=gatecontrol
POSTGRES_USER=gatecontrol_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_POSTGRES_PASSWORD
DATABASE_URL=postgresql://gatecontrol_user:CHANGE_ME_STRONG_POSTGRES_PASSWORD@postgres:5432/gatecontrol

SESSION_SECRET=CHANGE_ME_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS
UPLOAD_DIR=/app/storage/uploads

SEED_ADMIN_LOGIN=admin
SEED_ADMIN_EMAIL=admin@example.local
SEED_ADMIN_NAME=Администратор
SEED_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
